<h3>Note that: For some reason, the browser does not show the API data due to some errors with Cross-Origin Resource
    Sharing. I have tried instaling the package 'cors' or use middleware to deal with the issue but it still does not work
    out. If you are using GoogleChrome, there is a plug-in called 'Allow-Control-Allow-Origin' which will
    solve the problem.</h3>

<div ng-repeat="item in results" class="list-group col-md-6">
    <div class="list-group-item">
        <div class="media col-md-4">
            <figure class="pull-left">
                <img class="media-object img-rounded img-responsive"
                     ng-src="{{item.ItemImage}}">
            </figure>
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                <h4> {{item.Itemname}} </h4>
                <ul>
                    <li>Price: ${{item.Pricing}}</li>
                    <li>Description:
                        {{item.ItemDescription}}
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
