<!DOCTYPE html>
<html ng-app="BountyShopApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/projectcss.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
    <script src="treasurehunt.controller.js"></script>
</head>

<body ng-controller="TreasurehuntController" class="grey-background">
    <!-- Header Bar -->
    <nav class="navbar navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../home/home.view.html">Bounty Shop</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../register/register.view.html"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                    <li><a href="../login/login.view.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <h1>Treasure Hunt</h1>

    <div class="form-group">
        <label class="control-label">search</label>
        <input  placeholder="Password">
    </div>

    {{ddd}}

    <div ng-repeat="item in listedItems" class="list-group">
        <a href="#" class="list-group-item">
            <div class="media col-md-3">
                <figure class="pull-left">
                    <img class="media-object img-rounded img-responsive"
                         ng-src="{{item.image}}">
                </figure>
            </div>
            <div class="col-md-6">
                <div class="col-md-9">
                    <h3> Watch </h3>
                    <ul>
                        <li>Quantity Left: {{item.quantity}}</li>
                        <li>Destination:
                            <select ng-model='data.stringArrVal' ng-options="k as v for (k,v) in item.destination">
                            </select>
                        </li>
                        <li>Price to Destination: {{item.price[data.stringArrVal]}}</li>
                        <li>Description: {{item.description}}</li>
                    </ul>
                </div>
            </div>

            <!--<div class="col-md-3 text-center">-->
            <!--<h2> 14240 <small> votes </small></h2>-->
            <!--<button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>-->
            <!--<div class="stars">-->
            <!--<span class="glyphicon glyphicon-star"></span>-->
            <!--<span class="glyphicon glyphicon-star"></span>-->
            <!--<span class="glyphicon glyphicon-star"></span>-->
            <!--<span class="glyphicon glyphicon-star"></span>-->
            <!--<span class="glyphicon glyphicon-star-empty"></span>-->
            <!--</div>-->
            <!--<p> Average 4.5 <small> / </small> 5 </p>-->
            <!--</div>-->
        </a>
    </div>
</body>
</html>