<!--<!DOCTYPE html>-->
<!--<html ng-app="BountyShopApp" lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="../../client/css/projectcss.css">-->

    <!--&lt;!&ndash; jQuery library &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>-->
    <!--<script src="treasure.controller.js"></script>-->
<!--</head>-->
<!--<body class="grey-background" ng-controller="TreasureController">-->
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table  class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity Left</th>
                    <th>Desination and Price</th>
                    <th> Description</th>
                    <th> Image</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="modeltable">
                <tr>
                    <td><input ng-model="treasure.name" type="text" name=""></td>
                    <td><input ng-model="treasure.quantity" type="text" name=""></td>
                    <td>Destination
                        </br>
                        <input ng-model="treasure.destination" type="text">
                        </br>
                        Price
                        </br>
                        <input ng-model="treasure.price" type="text" name=""></td>
                    <td><textarea class="inputDescription" ng-model="treasurecomment"></textarea></td>
                    <td><input ng-model="treasure.image" type="url" name="">image url</td>
                    <td><span ng-click="addTreasure(treasure)" class="glyphicon glyphicon-plus btn-lg " aria-hidden="true"></span>
                        <span ng-click="updateTreasure(treasure)" class="glyphicon glyphicon-ok btn-lg" aria-hidden="true"></span></td>
                </tr>

                <tr ng-repeat="treasure in treasures">

                    <td>{{treasure.name}}</td>
                    <td>{{treasure.quantity}}</td>
                    <td>
                        <ul ng-repeat="pair in treasure.destination">
                            <li>{{treasure.destination[$index]}} : {{treasure.price[$index]}}</li>
                        </ul>
                    </td>
                    <td>{{treasure.description}}</td>
                    <td><img class="imgthumb" ng-src="{{treasure.image}}"></td>
                    <td>
                        <span ng-click="deleteTreasure($index)" class="glyphicon glyphicon-remove btn-lg" aria-hidden="true"></span>
                        <span ng-click="selectTreasure($index)" class="glyphicon glyphicon-pencil btn-lg" aria-hidden="true"></span>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<!--</body>-->
<!--</html>-->