.grey-background{
    background: #fff3e6;
}

.navbar{
    background: #cc6900;
}


.btn-primary{
    background: #cc6900;
    color: #ffff80;
}

.icon-bar{
    background: #ffff80;
}

.navbar-brand{
    color: #ffff80;
}

.modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.modal .modal-body > textarea {
    width: 450px;
    height: 130px;
}

.nav > li > a{
    color: #ffff80;
}

div.list-group-item {
    height:auto;
    min-height:200px;
    background: #fff3ef;

}
a.list-group-item.active small {
    color:#fff;
}

.homee img {
    max-height:600px;
    min-height:600px;
    min-width:600px;
    max-width:600px;
}

.panel-info>.panel-heading{
    background-color:#cc6520;
    color: white;
}

.list-group-item img {
    max-height:180px;
    min-height:180px;
    min-width:180px;
    max-width:180px;
}

.inputDescription {
    width: 100%;
    height: 100px;

}

.modeltable
{
    word-wrap:break-word;
}

.modeltable input
{
    max-width:140px;
}

.imgthumb {
    height: 120px;
    width:120px;
}



