<div class="form-group">
    <p class="col-sm-12">First Name: </p>
    <div class="col-sm-6">
        <input type="firstname" class="form-control" id="firstname" placeholder="First Name">
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <span class="glyphicon glyphicon-pencil btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-plus btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove btn-lg " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify btn-lg" aria-hidden="true"></span>
    </div>

    <p class="col-sm-12">Last Name: </p>
    <div class="col-sm-6">
        <input type="lastname" class="form-control" id="lastname" placeholder="Last Name">
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <span class="glyphicon glyphicon-pencil btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-plus btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove btn-lg " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify btn-lg" aria-hidden="true"></span>
    </div>

    <p class="col-sm-12">Date of Birth: </p>
    <div class="col-sm-6">
        <select>
            <option value="Select Date">Select Date</option>
        </select>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <span class="glyphicon glyphicon-pencil btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-plus btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove btn-lg " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify btn-lg" aria-hidden="true"></span>
    </div>

    <p class="col-sm-12">Gender: </p>
    <div class="col-sm-6">
        <select>
            <option value="gender">Male</option>
        </select>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <span class="glyphicon glyphicon-pencil btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-plus btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove btn-lg " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify btn-lg" aria-hidden="true"></span>
    </div>


    <p class="col-sm-12">Roles: </p>
    <div class="col-sm-6">
        <form>
            <input type="checkbox" name="role" value="Admin" checked> Admin<br>
            <input type="checkbox" name="role" value="Student"> Student<br>
            <input type="checkbox" name="role" value="User" checked> User
        </form>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <span class="glyphicon glyphicon-pencil btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-plus btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove btn-lg " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify btn-lg" aria-hidden="true"></span>
    </div>

    <p class="col-sm-12">License Agreement: </p>
    <div class="col-sm-6">
        <form>
            <input type="checkbox" name="licenseagreement" value="yes" checked> yes<br>
            <input type="checkbox" name="licenseagreement" value="no"> no<br>
        </form>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <span class="glyphicon glyphicon-pencil btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-plus btn-lg" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove btn-lg " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify btn-lg" aria-hidden="true"></span>
    </div>

    <div class="col-sm-12">
        <h1></h1>
    </div>
    <p class="col-sm-12">Add New Field:</p>
    <div class="col-sm-6">
        <select>
            <option value="singleLineOption">Single Line Text</option>
            <option value="Date">Date</option>
            <option value="Dropdown">Dropdown</option>
            <option value="Checkboxes">Checkboxes</option>
            <option value="Radiobuttons">Radio Buttons</option>
            <option value="ParagraphText">Paragraph Text Field</option>
        </select>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <span class="glyphicon glyphicon-plus btn-lg" aria-hidden="true"></span>
    </div>


</div>