<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="../../css/projectcss.css">-->

    <!--&lt;!&ndash; jQuery library &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body class="grey-background">-->
     <!--Header Bar-->
    <!--<nav class="navbar navbar">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="../home/home.view.html">Bounty Shop</a>-->
            <!--</div>-->
            <!--<div class="collapse navbar-collapse" id="myNavbar">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="../register/register.view.html"><span class="glyphicon glyphicon-user"></span> Register</a></li>-->
                    <!--<li><a href="../login/login.view.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-10 main">
                <h1 class="page-header">Register</h1>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-4">
                            <input ng-model="regi.username" type="username" class="form-control" id="" placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-4">
                            <input ng-model="regi.password" type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">User Type</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="regi.role">
                                <option value="buyer">Buyer</option>
                                <option value="seller">Seller</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-click="login(regi)" class="btn btn-default">
                               Log in!
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
<!--</body>-->
<!--</html>-->