

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="col-sm-12 img-responsive" border="0" alt="W3Schools"
                     src="http://thumbs.dreamstime.com/z/cork-notice-board-wooden-background-26526284.jpg">
                <div class="text-center">
                    <a href="#/missionboard">Mission Board</a>
                </div>
            </div>


            <div class="col-sm-6">
                <img class="col-sm-12 img-responsive" border="0" alt="W3Schools"
                 src="http://static1.squarespace.com/static/532b3fbfe4b0c5a9ade0bc44/t/534c33b7e4b0e2dbda7631f5/
                 1397502918765/">
                <div class="text-center">
                    <a  href="#/treasurehunt">Treasure Hunt</a>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<h3>Data Model</h3>-->
            <!--<p>the followings are for the data model part of proof of concepts, they are not part-->
                <!--of the real project</p>-->
            <!--<ul>-->
                <!--<li><a href="../../datamodel/user/view.user.html">Users</a></li>-->
                <!--<li><a href="../../datamodel/mission/mission.view.html">Missions</a></li>-->
                <!--<li><a href="../../datamodel/treasure/treasure.view.html">Treasures</a></li>-->
                <!--<li><a href="">google Search Api</a></li>-->
            <!--</ul>-->

        <!--</div>-->
    </div>
