<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Mission Details</h3>
                </div>
                <div class=" col-md-6 col-lg-6" >
                    <div class="row">
                        <div class="panel panel-info">
                            <div class = "panel-body">
                                <div class="col-md-12 col-lg-12 " align="center">
                                    <img width="150px" height="150px" alt="Mission Pic"
                                         src={{curMission.image}}>
                                </div>
                                <div class=" col-md-12 col-lg-12 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Item name</td>
                                            <td>{{curMission.name}}</td>
                                        </tr>

                                        <tr>
                                            <td>Shipping Destination: {{curMission.destination}}</td>
                                        </tr>


                                        </tbody>
                                    </table>
                                    <span ng-hide="!currentUser || curMission.buyer == currentUser.username"
                                          data-toggle="modal" data-target="#myModal" class="btn btn-primary col-md-3"
                                          ng-click="passData()">Express Interest!</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-lg-6" >
                    <div class="row">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Buyer Information</h5>
                            </div>
                            <div class = "panel-body">
                                <div class="col-md-12 col-lg-12 " align="center">
                                    <img width="150px" height="150px" alt="User Pic"
                                         src={{buyer.image}}>
                                </div>
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Seller</td>
                                        <td>{{buyer.username}}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact Email</td>
                                        <td>{{buyer.emails}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>{{buyer.country}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>



                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Express Interest</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Please leave message to the seller</p>
                                    <textarea ng-model="message"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            ng-click="sendMessageToSeller(message)">Send</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>
                    </div>



                </div>
            </div>