    <div class="container">
        <div class="row">

            <h1>Mission Board</h1>

            <div class="form-group">
                <label class="control-label">search</label>
                <input  placeholder="Password">
            </div>

            <div ng-repeat="mission in missions" class="list-group col-md-6">
                <div class="list-group-item">
                    <div class="media col-md-4">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive"
                                 ng-src="{{mission.image}}">
                        </figure>
                    </div>
                    <div class="col-md-8">

                            <h3> Watch </h3>
                            <ul>
                                <li>Quantity: {{mission.quantity}}</li>
                                <li>Desired Date of Arrival: {{mission.date}}</li>
                                <li>Destination: {{mission.destination}}</li>
                                <li>Unit Price Range: {{mission.price}}</li>
                                <li>Description: {{mission.description}}</li>
                            </ul>

                    </div>
                </a>
            </div>



        </div>


    </div>
